.AdminHeader {
  padding: 25px 26px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;

  &__search {
    display: flex;
    align-items: center;
    max-width: 164px;

    input {
      border: none;
      border-bottom: 1px solid #b5bccf;
      border-radius: 0;
      padding: 4px 5px;
      font-size: 12px;
      line-height: 14px;
      color: #b5bccf;

      &:focus {
        box-shadow: none;
      }
    }

    svg {
      display: block;
      margin-right: 14px;
    }
  }

  &__user {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    display: flex;
    align-items: center;

    span {
      padding-right: 20px;
    }
  }
}
